# Ignore backend dependencies and environment files
node_modules/
.env

# Ignore frontend build and dependencies
frontend/node_modules/
frontend/dist/
frontend/.env

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
